.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  width: 100%
}

.App-bg{
  width: 100%;
  position: relative;
}

.App-bg-img{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.App-wx-img{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 300;
}


.bg-ele1{
  position: absolute;
  right: 0;
  top: 0;
}

.p-app-name{
  margin: 12px;
  color: white;
  font-size: larger;
  font-weight: bold;
}

.App-bg-icon{
  position: absolute;
  top: 28px;
  left: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-phone{
  z-index: 100;
  margin-top: 100px;
  margin-bottom: 24px;
}

.App-download{
  background-image: linear-gradient(to right, #FF8126 , #FF117E);
  color: white;
  margin: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 100px;
  border-width: 0;
  z-index: 100;
}
.App-wx-tips{
  z-index: 200;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
