.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.div-code{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 10%;
  margin-top: 16px;
}

.code-input{
  flex: 1;
  margin-right: 16px;
  border-width: 1px;
  border-color: #FF117E;
  border-radius: 4px;
  padding: 12px;

}

.input-mobile{
  border-width: 1px;
  border-color: #FF117E;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 12px;
}

.App-logo {
  width: 100%
}

.App-bg{
  width: 100%;
  position: relative;
}

.App-bg-img{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.App-wx-img{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 300;
}


.bg-ele1{
  position: absolute;
  right: 0;
  top: 0;
}

.p-app-name{
  margin: 12px;
  color: white;
  font-size: larger;
  font-weight: bold;
}

.App-bg-icon{
  position: absolute;
  top: 28px;
  left: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-phone{
  z-index: 100;
  margin-top: 100px;
  margin-bottom: 24px;
}

.content{
  z-index: 200;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 75%;
}

.btn-get-code{
  background-image: linear-gradient(to right, #FF8126 , #ff117e);
  color: white;
  border-radius: 100px;
  border-width: 0;
  font-size: 6pt;
  padding: 4px 16px;
}

.wx-qrcode-div{
  z-index: 500;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wx-qrcode-text{
 font-size: 16pt;
  font-weight: bold;
  margin:16px ;
  color: white;
}


.wx-qrcode-img{
  width: 50%;
  height: 50%;
}


.btn-get-code:disabled{
  background: #ccc;
}

.App-download:disabled{
  background: #ccc;
}


.App-download{
  background-image: linear-gradient(to right, #FF8126 , #FF117E);
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 100px;
  border-width: 0;
  z-index: 100;
}
.App-wx-tips{
  z-index: 200;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
